
/////// Cards //////////

.card {

    &__imgbox{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 100%;


        &--wide {
            padding-top: 70%;
        }
    }
    
    &__img {
       position: absolute;
       width: 100%; 
       top: 0;
       left: 0;
    }
}


//////// Border //////////

.border-main {
    border-color: var(--main) !important;
}
