
/////// Cards //////////

.card {

    &__imgbox{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 100%;


        &--wide {
            padding-top: 70%;
        }
    }
    
    &__img {
       position: absolute;
       max-width: 100%; 
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
}


//////// Border //////////

.border-main {
    border-color: var(--main) !important;
}

/////// Input ////////

.input-lg {
    height: 5rem;
    width: 30rem;
    font-size: 2.5rem;
}

.btn-lg {
    padding: 1.50rem;
    border-radius: 0;

    @include respond(md) {
        padding: 1.25rem;
    }
}