//// Header Nav & Navbar ////

.header {
    position: relative;
    transition: all 2s;



    &__nav {
        width: 100%;
        top: 0;
        z-index: 100000000001;
    }


    &__navbar { 
        font-size: 1.3rem;
               
    }

    &-sticky {
        transition: all 2s;
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        padding: 0;
    }       
}

.zValue {
    z-index: 100000;

    &-1 {
        z-index: 10000001;
    }
}

.searchBox {
    @include respond(lg) {
        border: 1px solid var(--lightGrey);
    }
}

.search,
.search:hover,
.search:focus {
    text-decoration: none;
    outline-width: 0;
}

///// wrap ////


.hidden__wrap {
    overflow: hidden;
    margin-top: 80vh;
    position: relative;
    background-color: #fff;
}


/////// Section Slider ///////

.main {
    position: fixed;
    width:100%;
    overflow-y: hidden;
    padding: 0;
    top: 0;
    
    &__heading {

        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


.carousel {

    &-item {
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat; 
        height: 80vh;
        position: relative;

        &--1 {
            background-image: linear-gradient(to left,
            rgba($color: #7c7c7c, $alpha: .8),
            rgba($color: #7c7c7c, $alpha: .8)),
            url(../img/slide.png);
        }
        
    }

}
